html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: white;
  user-select: auto !important;
  -webkit-user-select: auto !important;
}

canvas {
  display: block;
  z-index: 0; /* Ensure it's at the bottom layer */
}

.map-object {
  position: absolute;
  pointer-events: auto;
  text-align: center;
  /* font-family: sans-serif; */
  color: white;
  z-index: 100; /* Increased z-index */
  transform: translate(-50%, -50%);
  user-select: none !important;
  -webkit-user-select: none !important;
}

.map-object img {
  display: block;
  margin: 0 auto;
  transition: transform 0.1s;
}

.map-object span {
  font-size: 12px;
  white-space: nowrap;
}
